
<!DOCTYPE html>

<html>

    <head>
    <title>404</title>

        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
                    {{>header}}
                    <h1>the {{errorMessage}} you have asking for hasnt found</h1>
<h2>please try again in a correct way</h2>
        <img src="/img/kimmich vs barca1.jpg">
                            {{>footer}}

    </body>

</html>