<!DOCTYPE html>

<html>

    <head>
    <title>helpp</title>
    <link rel="icon" href="/img/kimmichs.png">
        <link rel="stylesheet" href="/css/styles.css">
        {{!-- <script src="/js/app.js"></script> --}}

    </head>

    <body>
            {{>header}}
        <h1> {{ name }} is ready to help you!</h1>
        <img src="/img/kimmich vs barca.jpeg">
                            {{>footer}}

    </body>

</html>